<div class="site-footer">
  <div id="footer-widgets" class="site footer-widgets">
    <div class="container" style="margin-top: 20px; margin-bottom:20px">
      <bs-row>
        <bs-col md-offset="4" md="2" sm-offset="4"  sm="2">
          <div class="wp-block-image">
            <figure class="aligncenter size-thumbnail is-resized"><a href="http://itatti.harvard.edu/" target="_blank" rel=" noreferrer noopener"><img decoding="async" loading="lazy" src="/assets/images/itatti-logo-150x150.png" alt="" class="wp-image-684" width="75" height="75" srcset="/assets/images/itatti-logo-150x150.png 150w, /assets/images/itatti-logo-300x300.png 300w, /assets/images/itatti-logo.png 512w" sizes="(max-width: 75px) 100vw, 75px"></a></figure>
          </div>
        </bs-col>
        <bs-col md="2" sm="2">
          <div class="wp-block-image">
            <figure class="aligncenter size-thumbnail is-resized"><a href="https://www.themorgan.org/" target="_blank" rel=" noreferrer noopener"><img decoding="async" loading="lazy" src="/assets/images/black_Morgan-2-150x150.png" alt="" class="wp-image-697" width="75" height="75" srcset="/assets/images/black_Morgan-2-150x150.png 150w, /assets/images/black_Morgan-2-300x300.png 300w, /assets/images/black_Morgan-2.png 512w" sizes="(max-width: 75px) 100vw, 75px"></a></figure>
          </div>
        </bs-col>
      </bs-row>
    </div>
  </div>
  <footer class="site-info" aria-label="Site" itemtype="https://schema.org/WPFooter" itemscope="">
    <div class="inside-site-info">
      <div class="copyright-bar">
        Villa I Tatti, The Harvard University Center for Italian Renaissance Studies | Via di Vincigliata 26, 50135 Florence, Italy<br>
        © 2023 President and Fellows of Harvard College | Privacy Policy

      </div>
      <a href="/resource/rsp:admin" class="admin-login-button" style="background-color: #3A393A;">Admin Login</a>
    </div>
  </footer>
</div>