<title>Belle da Costa Greene</title>

<meta http-equiv="content-language" content="en">
<meta name="description" content="project description">
<meta name="keywords" content="keyword1, keyword2">
<meta name="author" content="Researchspace">

<link href="{{assetsMap.basic_styling}}" rel="stylesheet" title="Default Style">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<link rel="icon" type="image/png" href="../../assets/favicon/favicon-48x48.png" sizes="48x48" />
<link rel="icon" type="image/svg+xml" href="../../assets/favicon/favicon.svg" />
<link rel="shortcut icon" href="../../assets/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicon/apple-touch-icon.png" />
<link rel="manifest" href="../../assets/favicon/site.webmanifest" />