#bellegreene-container .admin-icon-panel {
    display: block;
    z-index: -10000;
}
#bellegreene-container .page{
    margin-top: 100px;
}

#bellegreene-container .content-area{
    margin: 0;

}
#bellegreene-container .inside-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
}

#bellegreene-container nav.is_stuck .inside-navigation {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #faf7f3;
    padding: 10px;
}

#bellegreene-container .navigation-branding img,
#bellegreene-container .site-logo.mobile-header-logo img,
#bellegreene-container .main-navigation.sticky-navigation-transition .navigation-branding img {
  max-height: 67px;
  width: auto;
  height: unset;
}

@media (max-width: 768px) {

    #bellegreene-container nav.is_stuck .inside-navigation,
    #bellegreene-container .inside-header {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
    }

}


#bellegreene-container .main-navigation .menu-bar-items {
    position: fixed;
    right: 20px;
}

#bellegreene-container .nav-float-right #site-navigation,
#bellegreene-container #primary-menu {
    margin: auto;
}

#bellegreene-container blockquote {
    width: 86%;
    text-align: center;
    padding: 20px;
    margin: 0 auto 1.5em;
    position: relative;
    border: none;
}

#bellegreene-container blockquote p {
    font-size: 1.4em;
    font-style: italic;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(43deg,#E4C769 0%,#A9892F 33%,#E4C769 64%,#A98930 71%,#8A7000 90%);
    background-image: linear-gradient(43deg,#E4C769 0%,#A9892F 33%,#E4C769 64%,#A98930 71%,#8A7000 90%);
}

#bellegreene-container blockquote cite {
    font-size: .8em;
    font-style: normal;
}

#bellegreene-container .wp-block-separator {
    border: 0.25px solid;
}

#bellegreene-container .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2),
#bellegreene-container .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2)~figure.wp-block-image:not(#individual-image) {
    width: calc(100% - var(--wp--style--unstable-gallery-gap, 16px)*0.5);
}

#bellegreene-container button {
    background: transparent;
}

#bellegreene-container p.seicento {
    margin-bottom: 0;
}

#bellegreene-container hr {
    margin-top: 10px;
}

#bellegreene-container .letters-result-container a {
    text-decoration: none;
    color: var(--contrast);
}

#bellegreene-container .disclaimer {
    font-size: .8em;
    color: green;
}

/* --- ACCORDION --- */

#bellegreene-container .runof-prod-details {
    margin-top: 30px;
}

#bellegreene-container .accordion {
    cursor: pointer;
    width: 100%;
    border: 0;
    text-align: left;
    outline: 0;
    transition: .4s;
    margin: 0 0 .8rem;
    padding: 0;
    background-color: transparent;
    color: #000;
    font-weight: bold;
}

#bellegreene-container .active,
#bellegreene-container .accordion:hover {
    background-color: transparent;
    color: #000;
}

#bellegreene-container .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

#bellegreene-container .active:after {
  content: "\2212";
}



#bellegreene-container .additional-resources h3 {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: .5em;
}

#bellegreene-container .project-staff h5 {
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: .5em;
}

#bellegreene-container .project-staff h3 {
    margin-top: 2em;
    margin-bottom: .5em;
}

#bellegreene-container .additional-resources p,
#bellegreene-container .project-staff p {
  margin-bottom: 1.2em;
  line-height: 1.2em;
  font-size: .9em;
}

#bellegreene-container .project-staff p strong {
  font-weight: 600;
}

#bellegreene-container .morgan_tatti-logo img {
  max-height: 100px;
  width: auto;
}

#bellegreene-container .footer-widgets-container {
  max-width: 70%;
  margin: 0 auto;
  border-bottom: 0.25px solid var(--contrast);
}

#bellegreene-container .inside-footer-widgets {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

#bellegreene-container img.itatti-logo {
    margin-left: 30px;
}

/* --- TABS ---*/

 /* Style the tab */
#bellegreene-container .tab {
  overflow: hidden;
  border: none;
  background-color: transparent;
}

/* Style the buttons that are used to open the tab content */
#bellegreene-container .tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
  transition: 0.3s;
  font-size: 1.15em;
  color: #3A393A;
}

/* Change background color of buttons on hover */
#bellegreene-container .tab button:hover {
  color: #ED6B5C;
}

/* Create an active/current tablink class */
#bellegreene-container .tab button.active {
  background-color: #F4EFE4;
}

#bellegreene-container .tab button.active:after {
  content: none;
}

/* Style the tab content */
#bellegreene-container .tabcontent {
  display: none;
  padding: 20px;
  border: none;
  border-top: none;
  background-color: #F4EFE4;
}

#bellegreene-container .tabcontent strong {
    font-size: .9em;
}
