#bellegreene-container #handwriting .page-hero {
  background-image: url(/assets/images/handwriting/handwriting_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bellegreene-container #handwriting .gb-image {
  max-width: 70%;
  height: auto;
}

#bellegreene-container #handwriting .gb-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

#bellegreene-container #handwriting .gb-grid-column {
  padding: 10px;
  text-align: start;
}

#bellegreene-container #handwriting .entry-content {
  margin: 0;
  padding: 20px;
  text-align: right; 
}

#bellegreene-container #handwriting .gb-grid-column p {
  margin: 0;
  margin-left: 20px;
}

#bellegreene-container #handwriting .gb-grid-wrapper-cb8539a1 > #bellegreene-container #handwriting .gb-grid-column {
  padding-left: 40px;
  padding-bottom: 40px;
}

#bellegreene-container #handwriting .container.grid-container{
  width:80%;
}
@media only screen and (max-width: 768px) {
  #bellegreene-container #handwriting .gb-grid-wrapper {
    display: flex;
    flex-direction: column;
  }

  #bellegreene-container #handwriting .gb-grid-column {
    width: 100%;
    margin-bottom: 20px; /* Add some spacing between text and images */
  }

  #bellegreene-container img {
    margin-top: 10px; /* Add margin to give space between text and image */
  }
}