#letters .page-hero {
  background-image: url(/assets/images/letters/image001.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  min-height: 200px;
  -webkit-box: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
#letters .page-hero .inside-page-hero{
  max-width: 960px !important;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 20px;
}

.no-sidebar .entry-content .alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
  width: auto;
}
.gb-container-e4d5fd40 {
  margin-top: 40px;
  margin-bottom: 100px;
}

.gb-grid-wrapper-0f1bd015 {
  margin-left: -20px;
}
.gb-grid-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.gb-grid-wrapper-0f1bd015 > .gb-grid-column {
  padding-left: 50px;
  padding-bottom: 20px;
}
.gb-grid-wrapper > .gb-grid-column-e94175fd {
  width: 25%;
}
.gb-grid-column {
  box-sizing: border-box;
}
.gb-grid-wrapper > .gb-grid-column-e94175fd > .gb-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gb-container-e94175fd {
  margin-top: 60px;
}
.gb-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  clear: both;
}
.gb-button-wrapper-3e5475dc {
  justify-content: flex-start;
}
.gb-button-wrapper-5e1c30fa {
  margin-top: 20px;
}
.gb-button-wrapper-733cd5ae {
  margin-top: 20px;
}
.gb-button-wrapper-0e4ab154 {
  margin-top: 20px;
}

.gb-grid-wrapper > .gb-grid-column-325379de {
  width: 75%;
}
.gb-grid-wrapper > .gb-grid-column-325379de > .gb-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gb-container-325379de {
  margin-top: 60px;
}
.gb-grid-wrapper {
  display: flex;
  flex-wrap: wrap;
}
/* Apply to the container that holds the table */
.semantic-table-holder{
  width: 100%;
}


.gb-grid-wrapper-7ec514a2 > .gb-grid-column {
  padding-left: 20px;
  padding-bottom: 20px;
}

.gb-button{
  padding-left: 20px;
}


.table>thead>tr>th {
  border-bottom: 2px solid #3A393A;
  padding: 12px 8px;
  color: #ED6B5C;
  font-size: 16px;
  line-height: 1.2;
}
.table>thead>tr>td{
  border-bottom: 2px solid #3A393A;
  padding: 12px 8px;
  color: #ED6B5C;
  font-size: 16px;
  line-height: 1.2;
}




.table {
  table-layout: fixed;
  max-width: 100%; 
  border-collapse: collapse;
}



tr>td>span {
  color: #333; 
}


/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
  .table {
    font-size: 14px; /* Decrease font size for smaller screens */
  }
}
.gb-container-a6d19adb > .gb-inside-container {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 960px;
  margin:auto

}


.letter-list {
  width: 75%;
  float: right;
}
.letter-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.letter-list li {
  margin-bottom: 10px;
}

.pagination {
  margin: 20px 0;
}

.pagination a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: blue;
}

/* Add margin to the list items to create spacing */
li {
  margin-bottom: 10px; /* Adjust the value as needed */
}

h1{
  text-align: center;
}

.img-w100{
  width: 100px;
}

/* Shared tables */

.facet__category-selector-holder {
    display: none;
}

.YearInput--epoch {
    display: none;
}

.FacetSlider--handle {
    display: none;
}

.facet-relations {
    margin-top: 82px;
}

.facet__relation {
    color: var(--accent);
}

.facet__relation__header {
    background-color: var(--base-3)!important;
    border: none;
}

/* Person page */
#person {
    margin-top: 150px;
}

/* Single letter page */

#letter {
    margin-top: 150px;
}

.heading {
    text-align: left;
}

#letter div[role="textbox"] p {
  font-size: 18px;
  margin-bottom: .5em;
}

#letter a {
    color: var(--accent);
    text-decoration: underline;
}

#letter a:hover {
    color: var(--accent);
}

#person a {
  color: var(--accent);
  text-decoration: underline;
}

#person a:hover {
  color: var(--accent);
}


#letter .griddle-custom-row{
    display: block!important;
}

#letter .griddle-custom-row .row{
    padding: 10px;
    margin: 15px;
    border-top: 1px solid lightgrey!important;
    font-size: 14px;
}

#letter .row img{
    vertical-align: center;
    height: 100%;
    width: 100%;
}

#letter ul {
    list-style: none;
}

#letter .active::after {
    content: none;
}

#letter .AnnotationSidebar--component {
    display: none!important;
}

#letter .TextAnnotationEditor--addAnnotationButton{
    display: none!important;
}

.metadata-buttons .btn-primary{
  background-color: rgb(245, 239, 228);
  border-color: rgb(245, 239, 228);
}

#letter .badge{
    margin: 2px 5px;
}

#letter_metadata .tab-content{
  padding: 20px;
  font-size: 15px;
  background-color: rgb(245, 239, 228);
}

#letter_metadata .active{
  box-shadow: none;
  background-color: rgb(245, 239, 228);
}

#letter_metadata li[role="presentation"] a{
  color: black!important;
}

#letter_metadata a{
  text-decoration: none;
}

#letters a{
  color: var(--accent);
}

.letter_id {
  margin-left: 3px;
  color: var(--accent);
}

.mirador{
    min-height: 800px!important;
}

.modal-body{
    padding-right: 30px!important;
}

#people_mentioned {
    margin-top: 150px;
}

#pages .filter {
    display: none;
}

#pages .filter:first-child {
    display: block;
}

.hide-long-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  font-size: 14px;
  line-height: 15px;
  height: 60px;
  color: #666;
}

p span.colon:last-of-type {
  display: none;
}

.admin-login-button {
  display: none;
}


#letters td:has(> img) {
  text-align: center;
}

.img-w150 {
  height: 150px;
  object-fit: cover;
}

.img-150{
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.griddle-footer {
  width: 68%;
}

.pagination .active a {
  background-color: var(--accent)!important;
  color: white!important;
  padding: 5px 12px!important;
}

.pagination {
  font-size: 20px!important;
}

.pagination .active a::after {
  font-size: 20px!important;
}

.pagination a {
  font-size: 20px!important;
  border-radius: 50%;
}

.search-widget {
  margin-top: 110px;
  margin-left: 20px;
}

#header-search {
  margin-top: 20px;
  margin-bottom: 20px;
}

