
#bellegreene-container .content-area {
  max-width: 800px;
  margin: 0 auto;

}

#bellegreene-container .page{
  margin-top:0 ;
}

#bellegreene-container .gb-container-782d4c66 p {
  font-size: 18px;
  font-weight: bold;
  color: #3a393a;
  margin-top: 20px;
}
#bellegreene-container em{
  text-transform: none;
}

#bellegreene-container .one-container .site-content {
  padding: 30px 0px !important;
}

#bellegreene-container .gb-container-67d1d032 p,
#bellegreene-container .gb-container-a9e6349d p,
#bellegreene-container .gb-container-782d4c66 p {
  font-size: 16px;
  font-weight: normal;
  color: #3a393a;
  margin: 10px auto;
}

#bellegreene-container .gb-container-67d1d032,
#bellegreene-container .gb-container-a9e6349d,
#bellegreene-container .gb-container-dc6c3a3f,
#bellegreene-container .gb-container-782d4c66 {
  margin-left: 65px;
}
#bellegreene-container .gb-container-a9e6349d p,
#bellegreene-container .gb-container-782d4c66 p {
  font-size: 16px;
  font-weight: normal;
  color: #3a393a;
  margin: 10px auto;
}

