#bellegreene-container .gb-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: start;
}

#bellegreene-container .gb-image {
  max-width: 460px;


}

#bellegreene-container .gb-block-image {
  margin-bottom: 10px;
}

#bellegreene-container .gb-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0px;
}

#bellegreene-container .entry-title{
  padding:40px 90px;
}

#bellegreene-container .gb-grid-column {
  margin: 0 10px;
}

#bellegreene-container h4 {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}
#bellegreene-container .gb-grid-wrapper-e0fd06b3 > .gb-grid-column {
  padding-left: 40px;
  padding-bottom: 40px;
}
#bellegreene-container .gb-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

#bellegreene-container .has-small-font-size {
  font-size: 13px !important;
}


@media (max-width: 1150px) {
  #bellegreene-container .gb-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: start;
  }
}

#bellegreene-container img {
  max-width: 100%;
  height: auto;
}

/* Specific media query for smaller screens */
@media only screen and (max-width: 768px) {
  #bellegreene-container figure img {
     width: 100%;
     height: auto;
  }
  #bellegreene-container .gb-inside-container {
     padding: 10px;
  }
}
