<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/styles/bg-header.css" />

<bs-navbar id="bellegreene-menu" class="itatti-navbar navbar navbar-default navbar-fixed-top">
  <div class="rs-header">

    <semantic-link class="nav-logo" iri="bellegreene:Start">
      <img class="header-logo" alt="Belle da Costa Greene" src="/assets/images/start/logo-headerbb-sx.png">
    </semantic-link>

    <bs-navbar-collapse class="pull-right">
      <bs-nav>

        <bs-nav-dropdown title="About" id="about-dropdown">
          <bs-menu-item><semantic-link iri="bellegreene:Introduction">Introduction</semantic-link></bs-menu-item>
          <bs-menu-item><semantic-link iri="bellegreene:PurposeandRationale">Purpose and Rationale</semantic-link></bs-menu-item>
          <bs-menu-item><semantic-link iri="bellegreene:EditorialNotes">Editorial Notes</semantic-link></bs-menu-item>
          <bs-menu-item><semantic-link iri="bellegreene:Belle_greene_handwriting">Belle Greene's Handwriting</semantic-link></bs-menu-item>
          <bs-menu-item><semantic-link iri="bellegreene:ProjectStaff">Project Staff</semantic-link></bs-menu-item>
        </bs-nav-dropdown>

        <bs-nav-dropdown title="Research" id="research-dropdown">
          <bs-menu-item><semantic-link iri="bellegreene:Themes">Themes</semantic-link></bs-menu-item>
          <bs-menu-item><semantic-link iri="bellegreene:BelleGreeneResources">Belle Greene Resources</semantic-link></bs-menu-item>
          <bs-menu-item><semantic-link iri="bellegreene:BernardBerensonResources">Bernard Berenson Resources</semantic-link></bs-menu-item>
        </bs-nav-dropdown>

        <bs-nav-item><semantic-link iri="bellegreene:Letters">Letters</semantic-link></bs-nav-item>

        <bs-nav-dropdown title="People" id="people-dropdown">
          <bs-menu-item><semantic-link iri="bellegreene:BelleDaCostaGreene">Belle da Costa Greene</semantic-link></bs-menu-item>
          <bs-menu-item><semantic-link iri="bellegreene:BernardBerenson">Bernard Berenson</semantic-link></bs-menu-item>
          <bs-menu-item><semantic-link iri="bellegreene:PeopleMentioned">People mentioned in the letters</semantic-link></bs-menu-item>
        </bs-nav-dropdown>

      </bs-nav>
    </bs-navbar-collapse>

  </div>
</bs-navbar>
