<div id="people_mentioned" class="container">
    <bs-row>
        <bs-col md="12" sm="12">
            <h1 class="heading">People mentioned in letters</h1>
            <semantic-table 
                id='table-result'
                query=' 
                    SELECT DISTINCT ?subject ?label ?image (count(?letter) as ?n_letters) WHERE { 
                        ?subject a bg:Person;
                          rdfs:label ?label.
                        ?letter crm:P67_refers_to ?subject.

                          OPTIONAL {
                            ?subject crm:P183i_has_representation ?image
                          }
                    } 
                    GROUP BY ?subject ?image ?label
                    ORDER BY DESC(?n_letters)'
                column-configuration='[
                    {"displayName": "", "cellTemplate": "{{>image}}"},
                    {"displayName": "Name", "cellTemplate": "{{>person}}"},
                    {"variableName": "n_letters", "displayName": "Number of letters"}
                ]'
                options='{
                    "showFilter":true, 
                    "resultsPerPage":10,
                    "showTableHeading":true
                }'  >
                <template id="image">
                  {{#if image}}
                    <img src={{image.value}} class="img-w150" alt="Person {{subject.value}}" />
                  {{else}}
                    <img src="../../assets/images/150x150.png" class="img-w150" alt=" Unavailable" />
                  {{/if}}
                  
                </template>
                <template id="person">
                  <a target="_blank" href="/resource/person/{{identifier.value}}">{{label.value}}</a>
                </template>
            </semantic-table>
        </bs-col>
    </bs-row>
</div>