<body data-rsssl="1">

    <head>
        <meta charset="UTF-8">
        <title>Belle Greene – The Letters of Belle da Costa Greene and Bernard Berenson</title>
        <link rel="stylesheet" href="/assets/styles/header.css" />
        <link rel="stylesheet" href="/assets/styles/letters.css" />
    </head>
    <div class="page-hero">
        <div class="inside-page-hero grid-container grid-parent">
            <h1>
                The Letters of<br>
                Belle da Costa Greene<br>
                and Bernard Berenson
            </h1>
            <p>
                The more than 600 letters exchanged between Belle da Costa Greene and Bernard Berenson comprise one of the twentieth century’s most fascinating sets of correspondence.<br>Written by the formidable
                and brilliant Librarian and Director of the Morgan Library to the preeminent art historian of the age, the letters open a window onto the compelling world of rare books, art, and society in New York,
                1910–1950.<br><br> This website presents high-resolution images and full-text transcriptions of Belle Greene’s 600+ letters to Bernard Berenson. <strong>Phase One, amounting to the first fifty letters,
                    is currently available, with the remainder of the correspondence slated to be published online by October 2024. High resolution images for the entire corpus of Greene's letters to Berenson can be
                    accessed through the <a href="https://hollisarchives.lib.harvard.edu/repositories/10/archival_objects/2167675" target="blank">Bernard and Mary Berenson Papers Finding Aid.</a></strong>
            </p>
            <button>
                <a href="/resource/rsp:Introduction">READ THE FULL INTRO</a>
            </button>
        </div>
    </div>
    <div class="container-fluid">

        <semantic-search 
            categories='{
                "<http://www.w3.org/2001/XMLSchema#date>": [{
                    "kind": "date-range",
                    "datatype": "http://www.w3.org/2001/XMLSchema#date",
                    "queryPattern": "
                        {
                            $subject crm:P108i_was_produced_by ?production .
                            ?production crm:P4_has_time-span ?timeSpan .
                            ?timeSpan crm:P82a_begin_of_the_begin ?date .
                            FILTER(?date <= ?__dateEndValue__) .
                            FILTER(?date >= ?__dateBeginValue__) .
                        }"
                    }]
                }'
            relations='{
                "<https://bellegreene.itatti.harvard.edu/resource/place>": [{
                    "kind": "resource",
                    "queryPattern": "
                        {
                            $subject crm:P108i_was_produced_by ?production .
                            ?production crm:P7_took_place_at ?__value__ .
                        }"
                }]
            }'
            search-profile='{ 
                "categories": [
                    {
                        "iri": "<https://bellegreene.itatti.harvard.edu/resource/Letter>",
                        "label": "Letter"
                    },
                    {
                        "iri": "<https://bellegreene.itatti.harvard.edu/resource/Subject>",
                        "label": "Subject"
                    },
                    {
                        "iri": "<http://www.w3.org/2001/XMLSchema#date>",
                        "label": "Date"
                    },
                    {
                        "iri": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
                        "label": "Place"
                    },
                    {
                        "iri": "<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
                        "label": "Person"
                    }
                ],
                "relations": [
                    {
                        "iri": "<https://bellegreene.itatti.harvard.edu/resource/date>",
                        "label": "Date",
                        "hasDomain": "<https://bellegreene.itatti.harvard.edu/resource/Letter>",
                        "hasRange": "<http://www.w3.org/2001/XMLSchema#date>"
                    },
                    {
                        "iri": "<https://bellegreene.itatti.harvard.edu/resource/place>",
                        "label": "Place",
                        "hasDomain": "<https://bellegreene.itatti.harvard.edu/resource/Letter>",
                        "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
                    },
                    {
                        "iri": "<http://www.cidoc-crm.org/cidoc-crm/P129_is_about>",
                        "label": "Subjects",
                        "hasDomain": "<https://bellegreene.itatti.harvard.edu/resource/Letter>",
                        "hasRange": "<https://bellegreene.itatti.harvard.edu/resource/Subject>"
                    },
                    {
                        "iri": "<http://www.cidoc-crm.org/cidoc-crm/P67_refers_to>",
                        "label": "Person",
                        "hasDomain": "<https://bellegreene.itatti.harvard.edu/resource/Letter>",
                        "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
                    }]
                }'>

                <semantic-search-query-constant
                    domain='<https://bellegreene.itatti.harvard.edu/resource/Letter>'
                    query="
                        SELECT ?subject WHERE { 
                            ?subject a bg:Letter
                        }">
                </semantic-search-query-constant>

                        <div data-flex-layout="row stretch-stretch">
                            <div data-flex-self="size-1of3" style="flex: 0 0 20px;">
                                <semantic-search-facet
                                    open-by-default="true"
                                ></semantic-search-facet>
                            </div>
                            <semantic-search-result-holder>
                                <div data-flex-self="md-full">
                                    <semantic-search-result>
                                        <mp-sparql-result-counts 
                                            id='query-count'
                                            query="SELECT DISTINCT * {}"
                                            template='{{#if hasLimit}} <bs-alert bs-style="warning">
                                                Showing {{numberOfResults}} of {{totalNumberOfResults}} matches. <strong>Please, refine your search.</strong> </bs-alert>
                                            {{else}}<span> Showing {{numberOfResults}} Letters </span>{{/if}}'>
                                        </mp-sparql-result-counts>
                                    </semantic-search-result>

                                    <semantic-search-result>
                                        <semantic-table 
                                            id='table-result'
                                            query='SELECT DISTINCT ?subject WHERE { } ORDER BY ASC(?subject)'
                                            options='{
                                                "showFilter":true, 
                                                "resultsPerPage":10,
                                                "showTableHeading":false
                                            }'  >
                                        </semantic-table>
                                    </semantic-search-result>

                                </div>
                            </semantic-search-result-holder>
                        </div>
        </semantic-search>

    </div>

    <style>
        .facet__category-selector-holder {
            display: none;
        }

        .show-facet-button__hide {
            display: none;
        }

        .YearInput--epoch {
            display: none;
        }

        .FacetSlider--handle {
            display: none;
        }

        .facet-relations {
            margin-top: 82px;
        }

        .facet__relation {
            color: var(--accent);
        }

        .facet__relation__header {
            background-color: var(--base-3)!important;
            border: none;
        }
    </style>

</body>