<div id="people_mentioned" class="container">
    <bs-row>
        <bs-col md="12" sm="12">
            <h1 class="heading">People mentioned in letters</h1>
            <semantic-table 
                id='table-result'
                query=' 
                    SELECT DISTINCT ?subject (count(?letter) as ?n_letters) WHERE { 
                        ?subject a bg:Person.
                        ?letter crm:P67_refers_to ?subject.
                    } 
                    GROUP BY ?subject 
                    ORDER BY DESC(?n_letters)'
                column-configuration='[
                    {"variableName": "subject", "displayName": "Person"},
                    {"variableName": "n_letters", "displayName": "Number of letters"}
                ]'
                options='{
                    "showFilter":true, 
                    "resultsPerPage":10,
                    "showTableHeading":true
                }'  >
            </semantic-table>
        </bs-col>
    </bs-row>
</div>