[[this]]
<div id="person">
    <div class="container">
        <semantic-query
            query='
            PREFIX bg_type: <https://bellegreene.itatti.harvard.edu/resource/type/>
            SELECT DISTINCT ?subject ?description_lbl ?dates_lbl ?nickname_lbl ?image WHERE { 
                ?subject 
                    crm:P1_is_identified_by ?dates;
                    crm:P1_is_identified_by ?description.

                OPTIONAL {
                  ?subject crm:P183i_has_representation ?image.
                  ?image a rso:EX_Digital_Image;
                    rdfs:label ?image_lbl.
                }
                

                ?description crm:P2_has_type bg_type:biographical_description;
                    rdfs:label ?description_lbl.

                ?dates crm:P2_has_type bg_type:life_dates;
                    rdfs:label ?dates_lbl.

                optional {
                    ?subject crm:P1_is_identified_by ?nickname.
                    ?nickname crm:P2_has_type  bg_type:nickname;
                        rdfs:label ?nickname_lbl
                }
                
                BIND(<[[this]]> AS ?subject)
            }'
            template='{{> person-data}}'>
        >
            <template id="person-data">
                {{#each bindings}}

                    <bs-row>
                        <bs-col md="12">
                            <div>
                                {{#if image}}
                                  <img class="img-thumbnail" style="max-width: 150px;" src="{{image.value}}" alt=""> 
                                {{else}}
                                  <img class="img-thumbnail" style="max-width: 150px;" src="../../assets/images/150x150.png" alt=""> 
                                {{/if}}
                                <h1 class="heading"><mp-label iri="{{subject.value}}"></mp-label></h1>
                                <h4>{{dates_lbl.value}}</h4>
                                
                                
                            </div>
                            <div>
                                <p>{{description_lbl.value}}</p>
                            </div>
                        </bs-col>
                    </bs-row>

                {{/each}}
            </template>

        </semantic-query>
    </div>
    <div class="container-fluid">
          <semantic-search 
            id="semantic-search-bg"
              categories='{
                  "<http://www.w3.org/2001/XMLSchema#date>": [{
                      "kind": "date-range",
                      "datatype": "http://www.w3.org/2001/XMLSchema#date",
                      "queryPattern": "
                          {
                              $subject crm:P108i_was_produced_by ?production .
                              ?production crm:P4_has_time-span ?timeSpan .
                              ?timeSpan crm:P82a_begin_of_the_begin ?date .
                              FILTER(?date <= ?__dateEndValue__) .
                              FILTER(?date >= ?__dateBeginValue__) .
                          }"
                      }]
                  }'
              relations='{
                  "<https://bellegreene.itatti.harvard.edu/resource/place>": [{
                      "kind": "resource",
                      "queryPattern": "
                          {
                              $subject crm:P108i_was_produced_by ?production .
                              ?production crm:P7_took_place_at ?__value__ .
                          }"
                  }]
              }'
              search-profile='{ 
                  "categories": [
                      {
                          "iri": "<https://bellegreene.itatti.harvard.edu/resource/Letter>",
                          "label": "Letter"
                      },
                      {
                          "iri": "<https://bellegreene.itatti.harvard.edu/resource/Subject>",
                          "label": "Subject"
                      },
                      {
                          "iri": "<http://www.w3.org/2001/XMLSchema#date>",
                          "label": "Date"
                      },
                      {
                          "iri": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
                          "label": "Place"
                      },
                      {
                          "iri": "<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
                          "label": "Person"
                      }
                  ],
                  "relations": [
                      {
                          "iri": "<https://bellegreene.itatti.harvard.edu/resource/date>",
                          "label": "Year written",
                          "hasDomain": "<https://bellegreene.itatti.harvard.edu/resource/Letter>",
                          "hasRange": "<http://www.w3.org/2001/XMLSchema#date>"
                      },
                      {
                          "iri": "<https://bellegreene.itatti.harvard.edu/resource/place>",
                          "label": "Place written",
                          "hasDomain": "<https://bellegreene.itatti.harvard.edu/resource/Letter>",
                          "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
                      },
                      {
                          "iri": "<http://www.cidoc-crm.org/cidoc-crm/P129_is_about>",
                          "label": "Subjects",
                          "hasDomain": "<https://bellegreene.itatti.harvard.edu/resource/Letter>",
                          "hasRange": "<https://bellegreene.itatti.harvard.edu/resource/Subject>"
                      },
                      {
                          "iri": "<http://www.cidoc-crm.org/cidoc-crm/P67_refers_to>",
                          "label": "People mentioned",
                          "hasDomain": "<https://bellegreene.itatti.harvard.edu/resource/Letter>",
                          "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
                      }]
                  }'>

                  <semantic-search-query-constant
                      domain='<https://bellegreene.itatti.harvard.edu/resource/Letter>'
                      query="
                          SELECT DISTINCT ?subject ?image ?identifier ?summary ?tags ?label WHERE { 
                            ?subject a bg:Letter;
                            crm:P67_refers_to <[[this]]>;
                            rdfs:label ?label;
                            crm:P48_has_preferred_identifier ?identifier_node.

                            ?identifier_node rdfs:label ?identifier.

                            ?page bg:part_of ?subject;
                            bg:index '1';
                            crm:P183i_has_representation ?image.

                            ?image crm:P2_has_type bg:thumbnail_img.
                            
                            OPTIONAL {
                              SELECT DISTINCT ?subject (GROUP_CONCAT(DISTINCT ?content_lbl; SEPARATOR='; ') as ?summary) WHERE {
                                ?subject crm:P129i_is_subject_of ?content.
                                ?content rdfs:label ?content_lbl.
                              } GROUP BY ?subject
                            }
                            
                            OPTIONAL {
                              SELECT DISTINCT ?subject (GROUP_CONCAT(DISTINCT ?tag_name; SEPARATOR='; ') as ?tags) WHERE{
                                ?subject crm:P129_is_about ?tag.
                                ?tag rdf:type bg:Subject;
                                    rdfs:label ?tag_name.
                              } GROUP BY ?subject
                            } 
                          }">
                  </semantic-search-query-constant>

                          <div data-flex-layout="row stretch-stretch">
                              <div data-flex-self="size-1of3" style="flex: 0 0 20px;">
                                  <semantic-search-facet
                                    open-by-default="true"
                                  ></semantic-search-facet>
                              </div>
                              <semantic-search-result-holder>
                                  <div data-flex-self="md-full">
                                      <semantic-search-result>
                                          <mp-sparql-result-counts 
                                              id='query-count'
                                              query="SELECT DISTINCT * {}"
                                              template='{{#if hasLimit}} <bs-alert bs-style="warning">
                                                  Showing {{numberOfResults}} of {{totalNumberOfResults}} matches. <strong>Please, refine your search.</strong> </bs-alert>
                                              {{else}}<span> Showing {{numberOfResults}} Letters </span>{{/if}}'>
                                          </mp-sparql-result-counts>
                                      </semantic-search-result>

                                      <semantic-search-result>
                                          <semantic-table 
                                              id='table-result'
                                              query=' 
                                                  SELECT DISTINCT ?subject ?image ?identifier ?summary ?tags ?label WHERE { }
                                                  ORDER BY ASC(?subject) '
                                              column-configuration='[
                                                  {"displayName": "", "cellTemplate": "{{>image}}"},
                                                  {"displayName": "Letter", "cellTemplate": "{{>letter}}"},
                                                  {"variableName": "summary", "displayName": "Summary"},
                                                  {"variableName": "tags", "displayName": "Subjects"}
                                              ]'
                                              options='{
                                                  "showFilter":true, 
                                                  "resultsPerPage":10,
                                                  "showTableHeading":true
                                              }'  >

                                              <template id="image">
                                                <img src={{image.value}} class="img-w150" alt="Letter {{identifier.value}}" />
                                                <p class="letter_id">Letter {{identifier.value}}</p>
                                              </template>
                                              <template id="letter">
                                                <a target="_blank" href="/resource/letter/{{identifier.value}}">{{label.value}}</a>
                                              </template>
                                          </semantic-table>
                                      </semantic-search-result>

                                  </div>
                              </semantic-search-result-holder>
                          </div>
          </semantic-search>

    </div>      
</div>