    <semantic-query
        query='
            SELECT DISTINCT ?letter ?identifier ?title ?sender ?recipient ?place ?begin_date ?end_date WHERE { 
                ?letter crm:P16i_was_used_for ?exchange_activity;
                    crm:P108i_was_produced_by ?production;
                    rdfs:label ?title;
                    crm:P48_has_preferred_identifier ?identifier_node.

                ?identifier_node rdfs:label ?identifier.

                optional {
                    ?production crm:P7_took_place_at ?place;
                }
                ?production crm:P4_has_time-span ?production_time_span.
            
                ?production_time_span crm:P82a_begin_of_the_begin ?begin_date;
                    crm:P82b_end_of_the_end ?end_date.

                ?exchange_activity rdf:type crm:E7_Activity;
                    crm:P01i_is_domain_of ?sender_activity;
                    crm:P01i_is_domain_of ?recipient_activity.

                ?sender_activity a crm:PC14_carried_out_by;
                    crm:P14.1_in_the_role_of  <https://bellegreene.itatti.harvard.edu/resource/type/Sender>;
                    crm:P02_has_range ?sender.

                ?recipient_activity a crm:PC14_carried_out_by;
                    crm:P14.1_in_the_role_of  <https://bellegreene.itatti.harvard.edu/resource/type/Recipient>;
                    crm:P02_has_range ?recipient.

                BIND(<[[this]]> as ?letter)
                }'
        template="{{> metadata}}"
    >

    <template id="metadata">

        {{#each bindings}}

            <div id="letter" class="container">

                <bs-row>
                    <bs-col sm="12" md="12">
                        <h1 class="heading">{{title.value}}</h1>
                    </bs-col>
                </bs-row>

                <bs-row>

                    <bs-col sm="6" md="6">
                        <p>
                            <strong>Letter ID: </strong> Letter {{identifier.value}} <br>
                            <strong>Written in (Date): </strong> {{begin_date.value}} <br>
                            <strong>Written in (place): </strong> <mp-label iri="{{place.value}}"></mp-label>
                        </p>
                    </bs-col>

                    <bs-col sm="6" md="6">
                        <p>
                            <strong>Sender: </strong> <mp-label iri="{{sender.value}}"></mp-label> <br>
                            <strong>Recipient: </strong> <mp-label iri="{{recipient.value}}"></mp-label> <br>
                        </p>
                    </bs-col>

                </bs-row>

                <bs-row>
                    <bs-col sm="12" md="12">
                        <p>

                            <semantic-query
                                query='
                                    SELECT DISTINCT ?person WHERE { 
                                        <[[this]]> crm:P67_refers_to ?person.
                                    }'
                                template="{{> people}}"
                            >
                                <template id="people">
                                    <strong>People Mentioned: </strong>
                                    {{#each bindings}}
                                        <semantic-link iri="{{person.value}}"></semantic-link>;  
                                    {{/each}}
                                    <br>
                                </template>
                            </semantic-query> 
                            <semantic-query
                                query='
                                    SELECT DISTINCT ?tag WHERE { 
                                        <[[this]]> crm:P129_is_about ?tag.
                                    }'
                                template="{{> subjects}}"
                            >
                                <template id="subjects">
                                    <strong>Subjects Mentioned: </strong>
                                    {{#each bindings}}
                                        <span class="badge text-bg-secondary"><mp-label iri={{tag.value}}></mp-label> </span> 
                                    {{/each}}
                                </template>
                            </semantic-query>
                        </p>
                    </bs-col>
                </bs-row>

                <bs-row>
                    <bs-col sm="12" md="12">
                        <semantic-table 
                            id='table-result'
                            query='SELECT DISTINCT ?subject ?document ?imageIRI ?imageIIIF ?page WHERE { 
                                ?page bg:part_of ?subject;
                                    crm:P129i_is_subject_of ?document;
                                    bg:index ?index;
                                    crm:P183i_has_representation ?imageIRI;
                                    crm:P183i_has_representation ?imageIIIF.

                                ?imageIRI crm:P2_has_type bg:thumbnail_img.
                                ?imageIIIF crm:P2_has_type bg:iiif_img.

                                BIND(xsd:integer(?index) as ?index_num)
                                BIND(<[[this]]> as ?subject)

                            } ORDER BY ASC(?index_num)'

                            tuple-template="{{> table-row}}"
                            options='{
                                "showTableHeading": false,
                                "showFilter": false
                            }'
                            number-of-displayed-rows="10">

                            <template id="table-row">
                                <bs-row class="row">
                                    <bs-col sm="7" md="7">
                                        {{>text}}
                                    </bs-col>
                                    <bs-col sm="4" md="4">
                                        {{>image}}
                                    </bs-col>
                                </bs-row>
                            </template>

                            <template id="text">
                                <rs-text-annotation-workspace
                                    storage="bellegreene"
                                    document-iri="{{document.value}}"
                                    annotation-subject-template="https://belle-greene.com/annotation/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                                    fallback-template="{{> fallback-template}}"
                                    annotation-tooltip="{{> annotation-tooltip}}">

                                    <template id="fallback-template">
                                        Missing type for annotation <semantic-link iri="{{ iri.value }}"></semantic-link>
                                    </template>

                                    <template id="annotation-tooltip">
                                    <div>
                                        {{#if allowEdit}}
                                        <button
                                        name="edit"
                                        class="btn btn-xs btn-default"
                                        data-annotation="{{ iri.value }}"
                                        title="Edit annotation"
                                        >
                                        <span class="fa fa-pencil" style="pointer-events: none;"></span>
                                        </button>
                                        {{else}}
                                        <button
                                        name="edit"
                                        class="btn btn-xs btn-default"
                                        disabled
                                        title="Edit annotation"
                                        >
                                        <span class="fa fa-pencil" style="pointer-events: none;"></span>
                                        </button>
                                        {{/if}}
                                        {{#if allowDelete}}
                                        <button
                                        name="delete"
                                        class="btn btn-xs btn-default"
                                        data-annotation="{{ iri.value }}"
                                        title="Delete annotation"
                                        >
                                        <span class="fa fa-trash" style="pointer-events: none;"></span>
                                        </button>
                                        {{else}}
                                        <button
                                        name="delete"
                                        class="btn btn-xs btn-default"
                                        disabled
                                        title="Delete annotation"
                                        >
                                        <span class="fa fa-trash" style="pointer-events: none;"></span>
                                        </button>
                                        {{/if}}
                                    </div>
                                    </template>

                                </rs-text-annotation-workspace>
                            </template>

                            <template id="image">

                                <mp-overlay-dialog title="placeholder" type="modal" bs-size="large">
                                    <mp-overlay-dialog-trigger><img src="{{imageIRI.value}}" alt=""></mp-overlay-dialog-trigger>
                                    <mp-overlay-dialog-content>

                                        <rs-iiif-mirador
                                            image-or-region='{{imageIIIF.value}}'
                                            image-id-pattern='BIND( {{imageIIIF}} AS ?imageIRI)
                                                            BIND("image" AS ?type)
                                                            BIND(REPLACE(STR(REPLACE(STR(?imageIRI),"/full/full/0/default.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
                                            iiif-server-url="https://iiif.itatti.harvard.edu/iiif/2"
                                            >
                                            </rs-iiif-mirador>
                                    </mp-overlay-dialog-content>
                                </mp-overlay-dialog>
                                
                            </template>

                        </semantic-table>
                    </bs-col>
                </bs-row>
            </div>


        {{/each}}

    </template>

</semantic-query>
